@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>WowRoads</h1>
</div>
<div class="row">
    <div class="container-fluid">
        <h2>Say WOW! with WowRoads</h2>
        <p>
            WowRoads is rising travel app which helps customers to travel with the highest quality!
        </p>
    </div>

</div>