@model WowRoads.Models.Agent

@{



    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Agent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AgentID" />


            <div class="form-group">
                <label asp-for="AgentFirstName " class="control-label"></label>
                <input asp-for="AgentFirstName " class="form-control" />
                <span asp-validation-for="AgentFirstName " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentLastName" class="control-label"></label>
                <input asp-for="AgentLastName" class="form-control" />
                <span asp-validation-for="AgentLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
