<!DOCTYPE html>
<html>

<head>
    <title>About us </title>
</head>

<body>
    <h3>OPIS :</h3>

<p>Informacijski sistem Wowroads bo aplikacija, ki uporabnikom ponuja kakovostne potovalne storitve.</p>

<p>Uporabnik bo imel možnost za prijavo v aplikacijo, in tako bomo naredili avtorizacijo in avtentikacijo.</p>

<p>S pomočjo aplikacije bo uporabnik lahko izbral prevozno sredstvo, s katerim bo želel potovati (avtobus, letalo, čoln, vlak, avto).</p>

<p>Uporabnik preko našo aplikacijo lahko najde tudi prenočišče (hotel,hostel) in pogleda katere restavrcacije so v bližini.</p>

<p>Aplikacija ponuja možnost za rating obiskanih krajev in zato drugi uporabniki s pomočjo ratinga bodo lažje izbrali svoje mesto za potovanje.</p>

<p>Podatke bomo dali v bazo podatkov, ki vsebuje podatke o uporabnikih, kot so ime, priimek, email, geslo ...</p>

<p>Če pride do spremembe načrtov, bo imel uporabnik možnost preklicati rezervacijo</p>
</body>

</html>